# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# For FreeCad
# For Python

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.FCStd1
*.sqlite

# Python
__pycache__

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

templates/static/charts/*